.App {
    font-family: sans-serif;
    text-align: center;
  }
.indent {
  padding-left: 20px;
}
.table {
  border-collapse: collapse;
  width: 100%;
  padding-left: 20px;
}
.nav-link {
  color: 'white';
  text-decoration: none;
}
.nav-link.active {
  text-decoration: underline;
}